<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- To enable using the web service, enter the URL to where it's
	    installed, such as "http://localhost/DonkeyWeb/ModelService.asmx",
	    into the value string.  If this is set to an empty string, the
        models will be read from a local directory. -->
		<add key="DonkeyNET.DonkeyWeb.ModelService" value="" />
	</appSettings>
</configuration>
