
	/***** NavBar Styles *****/

	#tblNavBar {
		font-family:Tahoma, MS Sans Serif, Arial, Geneva, Helvetica; font-size:8pt;
		background-color:#003399; color:white;
		cursor:default;
	}
	#tblNavBar TD {
		text-align:center;
		padding:2px; padding-top:4px;
	}
	#tblNavBar TD.clsSBNLogo {
		padding:0px;
	}
	#tblNavBar TD.clsNavBarItem {
		color:white; cursor:hand;
	}
	#tblNavBar TD.clsNavBarItemOver {
		color:#99CCFF; cursor:hand;
	}
	#tblNavBar TD.clsNavBarItemShown {
		color:#CCCCCC; cursor:hand;
	}
	#tblNavBar TD.clsNavBarItem IMG,
	#tblNavBar TD.clsNavBarItemOver IMG,
	#tblNavBar TD.clsNavBarItemShown IMG,  {
		position:relative; top:5px;
	}
/*
	#tblNavBar TD DIV {
		font-family:webdings; font-size:9pt; line-height:7pt;
		color:red; padding-top:1px;
*/
	}

	/***** Menu Styles *****/

	#divMenu1 { width:75pt; left:85px; }
	#divMenu2 { width:140pt; left:148px; }
	#divMenu3 { width:155pt; left:218px; }
	#divMenu4 { width:100pt; left:285px; }
	#divMenu5 { width:90pt; left:380px; }
	#divMenu6 { width:85pt; left: 436px; }

	.clsMenu {
		font-family:Tahoma, MS Sans Serif, Arial, Geneva, Helvetica; font-size:8pt;
		line-height:8pt; cursor:default;
		color:black; background-color:#CCCCCC;
		padding:1px; text-align:left;
		position:absolute; top:30px; visibility:hidden; overflow:hidden;
		border-style:outset; border-color: white silver silver white; border-width:2;
	}
	.clsMenu DIV {
		width:100%; padding:3px; padding-left:5px;
	}
	.clsMenu DIV.clsMenuItemOver {
		color:white; background-color:#003399;
	}
