p {font: 11px Arial; color: #333333; margin-left: 1em;}

.dummy {font: 11px Arial; font-weight: bold; color: #333333;}

.pnorm {font: 11px Arial; color: #333333;}

.pbold {font: bold 12px Arial; color: #333333; margin-left: 0em;}

.heading {font: bold 12px Arial; color: #333333; margin-left: .5em;}

.sub {font: 11px Arial; color: #333333; margin-left: 1.5em;}

.whitelink {font: 10px Arial; font-weight: bold; color: #ffffff;}

.whitetext {font: 10px Arial; color: #ffffff;}

.blackdot {font: 12px Arial; font-weight: bold; color: #333333;}

.whitedot {font: 12px Arial; font-weight: bold; color: #ffffff;}
.orangetext {  font-family: Arial; font-size: 12px; color: #FFCC00; font-weight: bold}

.maroon { color: #993333 }
.aqua { color: #009999 }
.orange { color: #cc6600 }
.blue { color: #3333cc }
.greyCopyright { color: #999999; font: 10px Arial; }



 A { font: Arial; }
  .white { color: #ffffff; text-decoration: underline }

 UL { font: 11px Arial; color: #333333; margin-left: 1.5em;}
 LI { font: 11px Arial; color: #333333; margin-left: 1.5em;}