<configuration>
  <configSections>
    <section name="Reflector" type="Reflector.Configuration.ConfigurationManager" />
  </configSections>
  <Reflector>
    <Visibility Public="true" Family="true" />
    <Settings Sort="true" />
    <Assemblies>
      <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\mscorlib.dll" />
      <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.dll" />
      <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Data.dll" />
      <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Design.dll" />
      <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Drawing.dll" />
      <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Web.dll" />
      <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Web.Services.dll" />
      <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Windows.Forms.dll" />
      <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Xml.dll" />
    </Assemblies>
    <Languages>
      <Language Type="Reflector.Language.Default" />
      <Language Type="Reflector.Language.CSharp" Select="true" />
      <Language Type="Reflector.Language.VisualBasic" />
      <Language Type="Reflector.Language.Eiffel" />
    </Languages>
    <Commands>
      <Command Type="Reflector.Command.Disassembler" Shortcut="Enter" Select="true" />
      <Command Type="Reflector.Command.TypeView" Shortcut="Ctrl+T" />
      <Command Type="Reflector.Command.CallTree" />
      <Command Type="Reflector.Command.MsdnHelp" Shortcut="Ctrl+H" />
      <Command Type="Reflector.Command.Copy" Shortcut="Ctrl+C" />
    </Commands>
  </Reflector>
</configuration>