<Reflector>
  <AssemblyManager>
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\mscorlib.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Data.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Design.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Drawing.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Web.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Web.Services.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Windows.Forms.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.0.3705\System.Xml.dll" />
  </AssemblyManager>
  <LanguageManager ActiveLanguage="Reflector.Languages.CSharpLanguage" />
</Reflector>