body.menuContainer	{background: white; border: 0px solid black; margin: 0;}

table.menu	{position: absolute; visibility: hidden;
		background: rgb(217,217,217) ; font-family: verdana; font-size: 11px; border: 1px solid rgb(81,81,81);}

table.menu table.menu {display: none; visibility: hidden;}

.menuContainer .menu		{visibility: visible;}
.menuContainer .menu .menu	{visibility: hidden; display: block;}

.menu tr	{}

/* Cell formattings*/


table.menu td.keyshortcut	{font-family: tahoma; font-size: 12px; font-weight: bold;}
table.menu tr.disabled		{color: rgb(117,117,117);}

table.menu tr.disabled td.icon img	{filter: alpha(opacity=50);}

/* Highlighted cell formattings */

table.menu tr td.icon,
table.menu tr td.left				{text-align: center; padding: 1px; padding-left: 10px;}
table.menu tr.highlight	td.icon,
table.menu tr.highlight	td.left		{background: url("leftHighlight.gif") repeat-x center left;}

table.menu tr td.icon img			{filter: gray();}
table.menu tr.highlight td.icon img	{filter: default;}

table.menu tr td.middle				{font-family: tahoma; font-size: 11px;
									padding: 1px; padding-left: 3px; padding-right: 3px;}
table.menu tr.highlight	td.middle	{background: url('middle.gif') repeat-x center left;}
									
table.menu tr td.more,
table.menu tr td.right				{font-family: webdings; width: 20px; text-align: right; padding: 1px;}
table.menu tr.highlight	td.more,
table.menu tr.highlight	td.right	{background: url('right.gif') repeat-x center right;}

.root			{cursor: default;}

.rootHighlight	{cursor: default;}
				
.rootActive		{cursor: default;}


.root .left				{background: url('left.gif'); width: 7px;}
.rootHighlight .left	{background: url('leftHighlight.gif'); width: 7px;}
.rootActive .left		{background: url('leftActive.gif'); width: 7px;}

.root .middle			{background: url('middle.gif'); text-align: center; font-family: tahoma; font-size: 11px;
						height: 19px; padding: 1px;}
.rootHighlight .middle	{background: url('middle.gif'); text-align: center; font-family: tahoma; font-size: 11px;
						height: 19px; padding: 1px;}
.rootActive .middle		{background: url('middleActive.gif'); text-align: center; font-family: tahoma; font-size: 11px;
						height: 19px; padding-left: 2px; padding-top: 2px; padding-right: 0; padding-bottom: 0;}

.root .right			{background: url('right.gif') no-repeat center right; width: 7px;}
.rootHighlight .right	{background: url('right.gif') center right; width: 7px;}
.rootActive .right		{background: url('rightActive.gif') center right; width: 7px;}


.root .menu				{visibility: hidden;}
.rootActive .menu		{visibility: hidden;}
.rootHighlight .menu	{visibility: hidden;}

#menuBar				{width: 100%; background: rgb(217,217,217) ; padding: 1px;}

