#btnPrev {
	BACKGROUND-POSITION: -984px 0px; LEFT: 60px; TOP: 4px
}
#btnNext {
	BACKGROUND-POSITION: -1008px 0px; LEFT: 84px; TOP: 4px
}
#btnInstruction {
	BACKGROUND-POSITION: -480px 0px; LEFT: 307px; TOP: 4px
}
#footPalette {
	LEFT: 0px; VISIBILITY: hidden; TOP: 104px; HEIGHT: auto
}
#btnEdit {
	BACKGROUND-POSITION: -1104px 0px; LEFT: 402px; TOP: 4px
}
#btnInstructionText {
	LEFT: 333px; WIDTH: 65px; TOP: 8px
}
#btnEmail {
	BACKGROUND-POSITION: -432px 0px; LEFT: 460px; TOP: 4px
}
#iconDivision {
	LEFT: 0px; VISIBILITY: hidden; TOP: 30px; HEIGHT: 4px
}
#btnEditText {
	LEFT: 431px; WIDTH: 25px; TOP: 8px
}
#btnRate {
	BACKGROUND-POSITION: -576px 0px; LEFT: 518px; TOP: 4px
}
#btnEmailText {
	LEFT: 484px; WIDTH: 30px; TOP: 8px
}
#jumpMenu {
	BACKGROUND-POSITION: -1128px 0px; LEFT: 156px; TOP: 4px
}
#btnPrint {
	BACKGROUND-POSITION: -72px 0px; LEFT: 244px; TOP: 4px
}
#btnStart {
	BACKGROUND-POSITION: -960px 0px; LEFT: 36px; TOP: 4px
}
#btnSave {
	BACKGROUND-POSITION: -48px 0px; LEFT: 184px; TOP: 4px
}
#btnRateText {
	LEFT: 543px; WIDTH: 30px; TOP: 8px
}
#break0 {
	LEFT: 180px; TOP: 5px
}
#break100 {
	LEFT: 32px; TOP: 5px
}
#break1 {
	LEFT: 240px; TOP: 5px
}
#btnPrintText {
	LEFT: 273px; WIDTH: 30px; TOP: 8px
}
#break2 {
	LEFT: 303px; TOP: 5px
}
#iconPalette {
	LEFT: 0px; TOP: 0px; HEIGHT: 30px
}
#topDivision {
	LEFT: 0px; VISIBILITY: hidden; TOP: 0px; HEIGHT: 4px
}
#btnSaveText {
	LEFT: 210px; WIDTH: 30px; TOP: 8px
}
#break3 {
	LEFT: 398px; TOP: 5px
}
#break4 {
	LEFT: 456px; TOP: 5px
}
#break5 {
	LEFT: 514px; TOP: 5px
}
#btnOverview {
	BACKGROUND-POSITION: -624px 0px; LEFT: 132px; TOP: 4px
}
#btnEnd {
	BACKGROUND-POSITION: -1032px 0px; LEFT: 108px; TOP: 4px
}
#footDivision {
	LEFT: 0px; VISIBILITY: hidden; TOP: 100px; HEIGHT: 4px
}
