<Reflector>
  <Visibility Public="true" Private="true" Family="true" Assembly="true" FamilyAndAssembly="true" FamilyOrAssembly="true" />
  <Settings Sort="true" />
  <ToolWindow X="948" Y="82" Width="629" Height="768" />
  <ApplicationWindow X="588" Y="170" Width="480" Height="600" />
  <AssemblyManager>
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.1.4322\mscorlib.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.1.4322\System.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.1.4322\System.Data.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.1.4322\System.Design.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.1.4322\System.Drawing.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.1.4322\System.Web.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.1.4322\System.Web.Services.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.1.4322\System.Windows.Forms.dll" />
    <Assembly CodeBase="c:\winnt\microsoft.net\framework\v1.1.4322\System.Xml.dll" />
  </AssemblyManager>
  <LanguageManager ActiveLanguage="Reflector.Languages.CSharpLanguage" />
</Reflector>